nav img{
    width: 45px;
}
.menu{
    background-color: #e3f2fd;
}
.image img{
    height: 400px;
}

nav ol{
    background-color: #e9ecef;
}

/* Alert */
.alert-box{
    background-color: rgba(175, 238, 238, 0.692);
    color: rgb(18, 90, 18);
}

/* Progress box */
.progress-box .progress{
 margin-bottom: 15px;
}

/* bootstrap */
.botstrap-ico img{ 
    width: 20px;
    height: 20px;

}